/*Genaral CSS Settings*/
body {
    color: #000;
    background-color: #fff;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* style for header */
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: white;
    z-index: 10;
    text-align: center;
    border: solid 2px transparent;
}

.sex-heading {
    position: relative;
    width: 150px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.sex-heading :hover {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    font-size: 15px;
}

.logo h1 {
    font-family: 'Montserrat', sans-serif;
}

.navigation-pannel {
    margin-right: 5px;
    padding-right: 25px;
}

.navigation-pannel ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.navigation-pannel ul li {
    position: relative;
    margin-right: 30px;
    margin-top: 10px;
}

.navigation-pannel ul li img {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 35px;
    background-color: #ffff;
}

.navigation-pannel ul li img:hover {
    position: relative;
    background-color: rgb(198, 159, 137);
}

/* Style for log-in section*/
section {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.log-in {
    position: relative;
    height: 95vh;
    display: flex;
    justify-content: center;
}

.log-in-main-div {
    position: relative;
    width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
button[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover{
    background-color: #000;
    
    color: #fff;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: #000;
    color: #fff;
}
.btn-locator{
    position: relative;
    display: flex;
    justify-content: center;
}